.header {
    background-color: purple;
    color: black;
    margin: 15px;
    padding: 20px;
    text-align: center;
    border: 2px solid purple;
    border-radius: 5px;
}

.content {
    background-color: rgb(199, 108, 178);
    color: black;
    margin: 15px;
    padding: 20px;
    border: 2px solid rgb(199, 108, 178);
    border-radius: 5px;
}

.list {
    background-color: rgb(199, 108, 178);
    color: black;
    margin: 15px;
    padding: 20px;
    border: 2px solid rgb(199, 108, 178);
    border-radius: 5px;
}

.footer {
    background-color: purple;
    color: black;
    margin: 15px;
    padding: 20px;
    text-align: center;
    border: 2px solid purple;
    border-radius: 5px;
}

body {
    background-color: black;
}

h1:hover {
    color:rgb(199, 108, 178);
}