body {
    background-image: url("../img/celeste-summit.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

html, body {
    height: 100vh;
    min-height: 100vh;
}


body.dark-mode {
    background-image: url("../img/celeste-darkmode.jpg");
    background-position: top;
}

#darkModeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px 15px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#darkModeToggle:hover {
    background-color: #666;
}

.search-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
}

#searchInput {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 200px;
}

.search-results {
    list-style: none;
    margin: 4px 0 0;
    padding: 0;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    position: absolute;
    width: 200px;
}

.search-results li {
    padding: 8px;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #eee;
}

body.dark-mode #searchInput {
    background-color: #222;
    color: #eee;
    border: 1px solid #555;
}

body.dark-mode .search-results {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

body.dark-mode .search-results li:hover {
    background-color: #444;
}