header {
    justify-content: center;
    background-color: gray;
    width: 100%;
    text-align: center;
    height: 60px;
}

footer {
    justify-content: center;
    background-color: gray;
    width: 100%;
    text-align: center;
    height: 50px;
}

.main {
    display: flex;
    flex: 1;      
}

.container {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 60%;
    margin: 40px auto;
}

nav {
    width: 25%;
    background-color: lightgrey;
    height: 400px;
}